html{
  font-size: 14px;
  font-family: 'Open Sans' sans-serif;

}
body {
  width: 80vw;
  margin: 0 auto;
}
.jumbotron{
  height: 30rem;
  background-color: #F7E1A8;
  color:white;
}

.jumbotron .jumbotron-fluid .banner{
  font-family: 'Monoton';
  font-size: 7.1rem;

}
