html{

}

body{
  font-family:'Work Sans', sans-serif;
  font-size: 14px;
  background-color: rgb(255,242,242);
  color: rgb(74,74,74);
  margin: 0 auto;
  height: 100vh;


}

.mainBody{
  margin-top:5.25rem;
  width: 35vw;
  height: 100%;
}

.matchGameInstructionsContainer h2{
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32,64,86);
}

.matchGameInstructionsContainer h4{
  font-size:1rem;
  font-weight: bold;
}

.card{
  background-color: rgb(32,64,86);
  min-height:12.5rem;
  /*max-width: 15vw;*/
  max-width:12.5rem;
  width:12.5rem;
  margin: 1rem;
  border-radius:8px;
  border: 4px solid #ffffff;


}

.cardContainer{

}

.cardTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cardContainer:hover{
  cursor: pointer;
}

.cardText{
  color:rgb(255,255,255);
  font-weight: 900;
  font-size: 7rem;

}
